.logo {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;
    
    position: relative;
    top: -6px;
}

.navbar-text .navbar-right {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-brand {
    overflow: hidden;
}

body {
    background-color: #F9F9FF;
}
nav {
    max-height: 10px;
    
}

.sidebar {
    float: left;
    height: 600px;
    width: 20%;
    margin: 0px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    
}

#profile-picture {
    margin-bottom: 5px;
    width: inherit;
    border: solid 2px black;
}

.profile-container {
    width: 100%;
}

.btn {
    background-color: #002888;
    color: #FEDF01;
    font-weight: bold;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    border-color: black;
}

.btn:hover {
    color: #002888;
    background-color: #FEDF01 !important;
    border-color: #002888; /*set the color you want here*/
}

.btn:active {
    color: #002888;
    background-color: #FEDF01 !important;
    border-color: #002888; /*set the color you want here*/
}

.main-view {
    border-color: #000;
    margin: 0px;
    float: left;
    width: 78%;
    height: 600px;
    background-color: none;
   -webkit-box-shadow: 10px 10px 24px 0px rgba(217,217,217,1);
-moz-box-shadow: 10px 10px 24px 0px rgba(217,217,217,1);
box-shadow: 10px 10px 24px 0px rgba(217,217,217,1);
    border-style: solid;
    border-width: 1px;    
}
.view {
    border-color: #000;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    height: 50%;
    background-color: inherit;
    border-radius: 5px;
}

.list {
    border-color: #000;
    margin-bottom: 5px;
    border-radius: 5px;

    float: left;
    width: 100%;
    height: 50%;
    background-color: inherit;
    overflow-y: scroll;
}
