.logo {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;
    
    position: relative;
    top: -6px;
}

.navbar-text .navbar-right {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-brand {
    overflow: hidden;
}

body {
    background-color: #F0F8FF;
}
nav {
    max-height: 10px;
}

.sidebar {
    height: auto;
    width: 20%;
    margin: 0px 5px 5px 5px;
}

#profile-picture {
    margin-bottom: 5px;
    width: inherit;
    border: solid 2px black;
}

.profile-container {
    width: 100%;
}

.btn {
    background-color: #002888;
    color: #FEDF01;
    font-weight: bold;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    border-color: black;
}

.btn:hover {
    color: #002888;
    background-color: #FEDF01 !important;
    border-color: #002888; /*set the color you want here*/
}

.btn:active {
    color: #002888;
    background-color: #FEDF01 !important;
    border-color: #002888; /*set the color you want here*/
}

