.logo {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;
    
    position: relative;
    top: -6px;
}

.navbar-text .navbar-right {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-brand {
    overflow: hidden;
}

nav {
    max-height: 10px;
}

.sidebar {
    height: auto;
    width: 20%;
    margin: 0px 5px 5px 5px;
}

#profile-picture {
    margin-bottom: 5px;
    width: inherit;
}

.profile-container {
    width: 100%;
}

